<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17528040277-32fpni81mm63hta5kr5qev9eism0asqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17528040277-32fpni81mm63hta5kr5qev9eism0asqm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>17528040277-o1gp45hhu3tg7uoihe23nl2tp8c1dkj1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB00LejE9M32-H_SNtWcDltl9hO9QuhCa0</string>
	<key>GCM_SENDER_ID</key>
	<string>17528040277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zapapp.ios</string>
	<key>PROJECT_ID</key>
	<string>zap-mobile-71630</string>
	<key>STORAGE_BUCKET</key>
	<string>zap-mobile-71630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17528040277:ios:d37f570f6d2a2b92c5dddc</string>
</dict>
</plist>